@import "../variables";

.forkContainer{
  font-family:Roboto,ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 150vh;
  background-color: $background-color;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color:$primary-text-color;
}
.forkList{
  background-color: $card-color;
  border-radius: 5px;
  width: 95%;
  margin: 5px auto;
  padding: 5px 10px;
  &__button{
   margin: 10px 5px 0 5px;
    width: 39px;
    background-color: #374151;
    color: #D1D5DB;
    font-weight: 900;
    border: 2px solid #D1D5DB;
    border-radius: 10px;
  }
  &__ims{
    margin: 10px 5px 0 5px;
    width: 50px;
    background-color: #374151;
    color: #D1D5DB;
    font-weight: 900;
    border: 2px solid #D1D5DB;
    border-radius: 10px;
  }
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
 }
li{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 230px;
  border-radius: 5%;
    @media screen and (min-width: 811px){
    width: 100%;
    }
  }


.mainTable {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  &__form__add {
    display: flex;
    align-items: center;
    &__input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      margin-right: 10px;
    }
    &__button {
      background-color: $main-button-color;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin: 0 20px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #28a745;
      }
    }

  }
  &__data{
    display: flex;
    flex-direction: row;
    &__column {
      width: 230px;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 811px){
        width: 32%;
      }
      &__title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #1F2937;
        border-radius: 5px;
        width: 95%;
        margin: 2px auto;
        padding: 5px;
        color: #FBBF24;
          @media screen and (min-width: 811px){
          width: 100%;
            font-size: 30px;
          }
        &-icon{
          font-size: 25px;
          color: $main-button-color;
          margin-right: 20px;
          @media screen and (min-width: 811px){
            font-size: 45px;
          }
        }
      }
    }
  }
}

.forkCard{
  display: flex;
  flex-direction: row;
  background-color: #1F2937;
  margin: 2px auto;
  border-radius: 5%;
  height: 80px;
  width: 230px;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
    @media screen and (min-width: 811px){
      width: 100%;
      height: 120px;
    }
  &__ims{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 20px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    margin: 0;
      @media screen and (min-width: 811px){
        font-size: 25px;
        width: 50px;
        padding: 5px;
      }
    &__icon{
      font-size: 20px;
      color: $secondary-button-color;
      &-reversed{
        font-size: 20px;
        color: $secondary-button-color;
        transform: rotate(180deg);
      }
    }
  }
  &__shop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5px;
    width: 110px;
    margin: 0;
      @media screen and (min-width: 811px) {
        width: 180px;
      }
    &__number{
      font-weight: 900;
      font-size: 25px;
      @media screen and (min-width: 811px){
        font-size: 45px;
      }
    }
    &__SN{
      font-size: 16px;
      color: #5B6471;
      @media screen and (min-width: 811px){
        font-size: 30px;
      }
    }
    &__prio{
      color: $secondary-button-color;
      font-size: 12px;
      align-items: center;
      @media screen and (min-width: 811px){
        font-size: 20px;
      }
      &-minus{
        color: #34D399;
        margin-right: 3px;
        font-size: 10px;
        @media screen and (min-width: 811px){
          font-size: 15px;
        }
      }
      &-plus{
        color: #34D399;
        margin-left: 3px;
        font-size: 10px;
        @media screen and (min-width: 811px){
          font-size: 15px;
        }
      }
    }
  }
  &__nav{
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2px;
    @media screen and (min-width: 811px){
        width: 150px;
    }
    &__date{
      font-size: 12px;
      padding: 10px 0;
      overflow: hidden;
      color: #5B6471;
      @media screen and (min-width: 811px){
        font-size: 21px;
      }
    }
    &__buttons{
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      padding: 0 10px;
      color: #34D399;
      font-size: 16px;
      @media screen and (min-width: 811px){
        font-size: 32px;
      }
      &__button{
        padding: 0 5px;
      }
    }
  }
  &__extended{
    display: flex;
    background-color: #5B6471;
    width: 90%;
    margin: 0 auto;
    padding: 10px 2px 5px;
    border-radius: 5%;
    transform: translateY(-10px);
    &-closed{
      height: 0;
    }
  }
}


.input-short{
  width: 80px;
}