// variables.scss

$primary-text-color: #D1D5DB;
$secondary-text-color: #2ecc71;

$main-button-color: #34D399;
$secondary-button-color: #FBBF24;

$background-color: #101726;
$card-color: #1F2937;

// Dodatkowe kolory
$success-color: #27ae60;
$warning-color: #f39c12;
$error-color: #c0392b;