body {
  background-color: #f4f4f4; /* Kolor tła */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: 0;
}

.container {
  width: 100vw;
  display: flex;
  flex-wrap: wrap; /* Elementy zaczynające nowy wiersz w razie potrzeby */
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sendingLetter{
    display: none;

}

@media (max-width: 768px) {
  .container {
    justify-content: center;
  }
}
@media print {

        .container{
            display: none;

        }
        .sendingLetter {
            display: flex;

        }
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    }

.header, .footer {
    display: none;
}